jax[cuda12]
jaxopt
numpy
scipy
pyyaml
frozendict
tqdm
matplotlib
python-picard
mmica@git+https://github.com/draeloslab/mmica
torch
vjf@git+https://github.com/draeloslab/vjf.git@allow_deepcopy
datahugger
dandi
h5py
pynwb
scikit-image
adjustText
fsspec
requests
aiohttp
pims
av
seaborn
pandas
jupyter
ipympl
nbval
pyqt6
papermill
tabulate